* {
  box-sizing: border-box;
}
:root {
  --main-color: #272b30;
  --secondary-color: #3a497b;
  --hover-color: #0daefd;
}

body {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  background-color:var(--main-color) ;
}

img {
  width: 100%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ============================== */
/*              Header            */
/* ============================== */
.header {
  overflow: hidden;
  height: 240px;
}
.header img {
  vertical-align: middle;
}


/* ============================== */
/*              Nav               */
/* ============================== */
.nav {
  top: 44px;
}
.nav .container {
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px 0 #000 !important;
  top: -34.5px;
}
.nav .logo-img {
  width: 42px;
}

.nav .cat li a {
  color: #fff;
  font-weight: 100;
  font-size: 12px;
  transition-duration: 0.4s;
}

.nav .cat li.active a,
.nav .cat li a:hover {
  color: var(--hover-color);
}

.logo-name  {
  font-weight: 200;
}

@media (max-width: 992px) {
  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .nav .container {
    height: 69px;
    overflow: hidden;
    transition-duration: 0.4s;
  }

  .nav .container.open {
    display: block;
    height: 272px;
  }
}


/* ============================== */
/*              Games             */
/* ============================== */
.games .game{

  min-height: 300px;
}
.games .game h6 {
  font-size: 12px;
  font-weight: bold;
}
.games .game-down h6 {
  font-size: 10px;
  font-weight: bold;
}
.games .game p {
  font-size: 13px;
  color: #999;
  word-break: break-all;
}

.games .game-card {
  transition-duration: 0.5s;
  cursor: pointer;
  .paid-status {
    transition-duration: 0.5s;
    background-color: var(--secondary-color);
  }
  &:hover {
    transform: scale(1.05);
  }
  &:hover .paid-status {
    background-color: var(--hover-color);
  }

  .game-down h6 {
    background-color: #353639;
  }

  img {
    filter: grayscale(0.6);
    transition-duration: 0.5s;
  }
  &:hover img {
    filter: grayscale(0);
  }
}


.loader-cover {
  background-color: var(--main-color);
  opacity: 0.8;
}
.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 







/* Details Section */
.btn{
  transition-duration: 0.3;
}
.btn:hover {
  background-color: #ffc107;
}
.close {
  cursor: pointer;
}
.game-det span {
  background-color: #0dcaf0;
  color: #000;
  font-size: 11px;
  padding: 4px 7px;
  border-radius: 6px;
  font-weight: 900;
}
.game-det p {
  font-size: 13px;
  font-weight: 900;
}